$purple-black: #0F0A29;
$purple-dark: #5237C5;
$purple-pastel: #B09CFF;

$red: #FF4858;
$orange: #ff874c;
$yellow: #FFC641;
$white: #FFFFFF;

$text-selection: rgba(#6945FF, 0.8);
$links-color: #876BFF;
