$purple_black: #0F0A29;
$purple_dark: #5237C5;
$purple_pastel: #B09CFF;

$red: #FF4858;
$orange: #ff874c;
$yellow: #FFC641;
$white: #FFFFFF;

$text_selection: rgba(#6945FF, 0.8);
$links_color: #876BFF;