<!-- <p>Selinity {{ now.Year }} Селинити</p> -->


<footer class="footer">

	<div class="footer_divider"> </div>


	<div class="footer_contacts">
		<div class="footer_contacts_round">
			<a href="https://discord.gg/qvBz6N4GsV" target="_blank">
				<div class="footer_contacts_round_icon">
					<img src="/images/round_discord.svg" alt="Discord">
				</div>
			</a>
			<a href="https://t.me/SelinityMinecraft" target="_blank">
				<div class="footer_contacts_round_icon">
					<img src="/images/round_telegram.svg" alt="Telegram">
				</div>
			</a>
			<a href="https://www.youtube.com/@SelinityMinecraft?sub_confirmation=1" target="_blank">
				<div class="footer_contacts_round_icon">
					<img src="/images/round_youtube.svg" alt="YouTube">
				</div>
			</a>
			<a href="http://tiktok.com/@SelinityMinecraft" target="_blank">
				<div class="footer_contacts_round_icon">
					<img src="/images/round_tiktok.svg" alt="TikTok">
				</div>
			</a>
		</div>
	</div>

	<div class="footer_divider"> </div>

	<div class="footer_text">
		<p>
			Текст доступен по лицензии Creative Commons «С указанием авторства — С сохранением условий» (CC BY-SA); в
			отдельных случаях могут действовать дополнительные условия. Подробнее см. Условия использования.
			Selinity — зарегистрированный товарный знак коммерческой организации «Селинити»
		</p>
	</div>

	<!--^ Use 12 links is PERFECT ^-->
	<div class="footer_links">
		<a href=".">Какие-то ссылки</a>
		<a href=".">Ещё какие-то ссылки</a>
		<a href=".">И даже ещё!</a>
		<a href=".">Посмотрите на это!</a>
		<a href=".">Ищите ещё больше!</a>
		<a href=".">Узнайте больше здесь!</a>
		<a href=".">Интересные факты!</a>
		<a href=".">Советы и рекомендации!</a>
		<a href=".">Полезные ресурсы!</a>
		<a href=".">Новости и обновления!</a>
		<a href=".">Отзывы и мнения!</a>
		<a href=".">Вопросы и ответы!</a>		
	</div>

	<div class="footer_divider"> </div>

	<div class="footer_logo">
		<p>
			<img src="/images/logo-title.svg">
		</p>
		<p>
			{{ now.Year }}
		</p>
	</div>

</footer>