<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="format-detection" content="telephone=no">

<!--^ HEADER ^-->
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<!-- <link rel="icon" href="/favicon.svg" type="images/svg+xml">
<link rel="shortcut icon" href="/favicon.svg" type="images/svg+xml"> -->
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<!--^ SEO tags ^-->
<meta property="og:title" content="Селинити - Selinity"> <!-- Reposts -->
<meta property="og:site_name" content="Селинити - Selinity"> <!-- Reposts -->
<meta name="twitter:title" content="Селинити - Selinity"> <!-- Page name --> <!-- Reposts -->

<meta name="description" content="Лучший РПГ сервер по Майнкрафту во всём СНГ пространстве ">
<meta property="og:description" content="Лучший РПГ сервер по Майнкрафту во всём СНГ пространстве "> <!-- Reposts -->
<meta name="twitter:description" content="Лучший РПГ сервер по Майнкрафту во всём СНГ пространстве "> <!-- Reposts -->

<meta name="keywords" content="Селинити, Selinity, Майнкрафт, Minecraft, Сервер, Мишамол, Mishamol, Андрювей, Andreway"> <!-- Up to 20 -->

<meta name="Author" content="Ваша любимая донатная помойка!">
<meta name="Copyright" content="Mishamol">
<meta name="twitter:site" content="Mishamol"> <!-- Autor name --> <!-- Reposts -->

<meta property="og:url" content="https://xn--80aqdngrh1dvc.xn--p1acf/"> <!-- Current page URL --> <!-- Reposts -->
<meta property="og:image" content="https://xn--80aqdngrh1dvc.xn--p1acf/images/url.png"> <!-- Image that will be published in the post URL --> <!-- Reposts -->
<meta name="twitter:image" content="https://xn--80aqdngrh1dvc.xn--p1acf/images/url.png"> <!-- Reposts -->

<meta property="og:locale" content="ru_RU"> <!-- Reposts -->
<meta property="og:type" content="article"> <!-- Content type. Default = article --> <!-- Reposts -->
<meta name="twitter:card" content="summary"> <!-- Card type. Default = summary --> <!-- Reposts -->



<!--^ CSS ^-->
{{ $sass := resources.Get "scss/_main.scss" }} <!-- Get SCSS file -->
{{ $css := $sass | toCSS }} <!-- Compile SCSS to CSS -->
<link rel="stylesheet" href="{{ $css.Permalink | relURL }}" media="screen"> <!-- Connect compiled CSS -->
