.header_index {
	height: 100vh;

	min-height: fit-content;

	padding-left: var(--px32px);
	padding-right: var(--px32px);

	background-image: url('/images/header-background.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	h1 {
		font-size: var(--px256px);
		line-height: var(--px150px);
		margin: var(--px50px) 0;
		display: block;
		text-align: center;
	}

	h3 {
		font-size: var(--px64px);

		display: block;
		text-align: center;

		margin-top: var(--px-16px);
	}

	.button {
		margin-top: var(--px100px);
		margin-bottom: var(--px50px);
	}
}

.header {
	// height: 100vh;

	//^ Literally the only difference in this
	padding: var(--px64px) var(--px32px) var(--px212px);

	min-height: fit-content;

	padding-left: var(--px32px);
	padding-right: var(--px32px);

	// background-image: url('/images/header-background.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	h1 {
		font-size: var(--px256px);
		line-height: var(--px150px);
		margin: var(--px50px) 0;
		display: block;
		text-align: center;
	}

	h3 {
		font-size: var(--px64px);

		display: block;
		text-align: center;

		margin-top: var(--px-16px);
	}

	.button {
		margin-top: var(--px100px);
		margin-bottom: var(--px50px);
	}
}


.header {
	position: relative;
	/* Для абсолютного позиционирования */
}

.background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	/* Чтобы изображение заполняло весь фон */
	background-position: center;
	/* Чтобы изображение было по центру */
	z-index: -1;
	/* Чтобы фон был под текстом */
}





// .background-image {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	// background-image: url('background-image.jpg'); /* URL фона */
// 	background-blend-mode: color-burn;
// 	// background-blend-mode: hard-light;
// 	// filter: blur(10px);
// 	backdrop-filter: blur(10px);

// 	background-size: cover;
// 	z-index: -1;
//   }
  
